streamlit==1.44.1
streamlit-webrtc==0.62.4
pillow==11.1.0
tensorflow==2.19.0
numpy==1.26.2
mediapipe==0.10.21
av
opencv-python==4.10.0.84
pyttsx3==2.98
matplotlib==3.10.0
joblib==1.4.2
scikit-learn==1.6.0
paddleocr
paddlepaddle
python-Levenshtein
